* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-family: sans-serif;
  color: black;
  background-color: white;
  text-rendering: optimizeLegibility;
}
.a td a {
  text-decoration: none;
  border: 0px solid;
  padding: 10px 30px;
  resize: both;
  overflow: auto;
}
.a td a:hover,
.a td a:active {
  color: aliceblue;
}
.nd1 {
  color: orange;
  float: left;
  font-family: cursive;
}
.jmg1 {
  width: 100px;
  float: left;
}

.tk {
  padding-top: 10px;
  float: left;
  padding-left: 100px;
}
.clearfix::after {
  content: " ";
  display: table;
  clear: both;
}
.nd2 {
  padding-left: 300px;
}
.maker {
  padding-left: 50px;
  text-decoration: none;
  color: aliceblue;
  background-color: rgb(228, 186, 82);
  border-radius: 20px;
  padding: 5px 15px;
  text-align: center;
  transition: all.1s;
  margin-left: 40px;
  margin-top: 30px;
}
.maker:hover,
.maker:active {
  background-color: orange;
  color: black;
}
.tk2 {
  text-decoration: none;
  color: aliceblue;
  background-color: rgb(228, 186, 82);
  padding: 4.52px 15px;
  text-align: center;
  transition: all.1s;
  height: 30px;
  position: relative;
  top: 7.15px;
  right: 4.7px;
}

.tk2:hover,
.tk2:active {
  background-color: orange;
  color: black;
}

.menu {
  text-decoration: none;
  background-color:rgb(228, 186, 82);
  font-size: 80%;
  text-align: center;
  color: aliceblue;
}
.menu a {
  text-decoration: none;
  color: black;
}
.menu:hover,
.menu:active {
  background-color: rgb(33, 160, 122);
  color: black;
}
.promotion {
  font-size: 80%;
  text-align: center;
}
.time {
  font-size: 80%;
  text-align: center;
  color: aliceblue;
  border: 0px solid;
  padding: 10px 30px;

  resize: both;
  overflow: auto;
}
.time:hover,
.time:active {
  color: black;
}
.tk1 {
  height: 27px;
  position: relative;
  bottom: -6px;
}
.table {
  margin-top: 0;
  margin-bottom: 20px;
}
.menu2 a {
  text-decoration: none;
  margin: 0 5px;
  background-color: white;

  color: orange;
}
.menu2 a:hover,
.menu2 a:active {
  background-color: rgb(165, 81, 42);
}
.menu2 {
  margin-left: 70px;
  margin-top: 30px;
}
.photo img {
  padding-left: 26px;
  width: 100%;
}
.photo {
  text-align: center;
  margin-top: 40px;
  display: inline-block;
}
.font {
  font-size: 60%;
  text-decoration: none;
}
.font:hover,
.font:active {
  color: orange;
}
.noithat {
  text-align: center;
  color: orange;
  margin-top: 30px;
}
.menu3 a {
  text-decoration: none;
  margin: 0 5px;
  background-color: white;

  color: orange;
}
.menu3 a:hover,
.menu3 a:active {
  background-color: rgb(165, 81, 42);
}
.menu3 {
  margin-top: 10px;
}
.phongkhach {
  width: 600px;
  margin-left: 102px;
  margin-top: 20px;
}
.phongan {
  color: orange;
  text-align: center;
  margin-top: 25px;
}
.menu4 a {
  text-decoration: none;
  margin: 0 5px;
  background-color: white;

  color: orange;
}
.menu4 a:hover,
.menu4 a:active {
  background-color: rgb(165, 81, 42);
}
.menu4 {
  text-align: center;
  margin-top: 10px;
}
.note2 {
  background-color: rgb(56, 11, 11);
  color: orange;
}
.giakhanh {
  margin-top: 20px;
}
.name {
  margin-bottom: 20px;
  margin-left: 50px;
}
.showroom {
  margin-bottom: 10px;
}
.sum {
  margin-left: 80px;
}
.comebank {
  background-color: rgb(128, 27, 27);
  padding-top: 5px;
  padding-bottom: 5px;
}
.comebank a {
  text-decoration: none;
  text-align: center;
  color: orange;
}

.note {
  position: sticky;
  top: -1px;
  height: 52px;
  background-color: rgb(128, 27, 27);
  padding: 20px auto;
}

footer {
  padding: 30px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  background-color: rgb(70, 32, 32);
  color: orange;
  margin-top: 20px;
  height: 200px;
}
